{% extends "base.html" %}

{% block main%}

<div id="profile">
    <div class="profile2">

        <div class="content">
            <img id="propic" class="image" src="{{url_for('static',filename='img/kevohal.jpg')}}" width="80px" height="80px"/>
            <p id="para">
                <p class="info"><h3>Kevar Halstead</h3></p>
                <p class="info"><a href="#">@kevohal</a></p>
                <p class="info">Kingston, Jamaica</p>
                <p class="info">Joined {{date_joined}}</p>
            </p>

        </div>

        <div class ="bio">
            <p>
                I'm a chill guy, a very chill guy. The city is great but the country is greater.
                The mountains stand tall and the resources are abbundant. The birds do chirp and the donkeys bray.
                Yes! A breath of fresh air.
            </p>
        </div>

        <div class="social">

            <div class="follows">
                <div class="count"><h4>10</h4></div>
                <div class="title"><p>Posts</p></div>
            </div>

            <div class="follows">
                <div class="count"><h4>1500</h4></div>
                <div class="title"><p>Following</p></div>
            </div>

            <div class="follows">
                <div class="count"><h4>2500</h4></div>
                <div class="title"><p>Followers</p></div>
            </div>
        </div>
        
        <div class="fbutton">
            <button id='f_btn'>Follow</button>
        </div>

    </div>
</div>

{% endblock %}